body {
    margin: 0;
    padding: 0;
    background-color: #3a3b42;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    padding-bottom: 5px;
    border-bottom: 2px solid #1181B2;
}

.navbar ul {
    list-style: none;
    text-align: right;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #4f5d75;
    background-color: #F7F4E9;
    padding: 4px 20px;
    border-radius: 0.8rem;
    margin: 5px 10px;
}

.navbar a:hover {
    background-color: #1181B2;
    color: #F7F4E9;
    transition: 0.3s ease-out;
}

.navbar input {
    font-size: 1.1rem;
    font-weight: 500;
    padding: 4px 0px 4px 10px;
    border-radius: 0.8rem;
    margin: 5px 20px 5px 10px;
    border: none;
    background-color: #F7F4E9;
}

.navbar input:hover {
    background-color: #1181B2;
    transition: 0.3s ease-out;
}

.navbar input:hover::placeholder {
    color: #F7F4E9;
    transition: 0.3s;
}

h1 {
    color: #F7F4E9;
    text-align: center;
    font-size: 5rem;
    font-weight: 100;
    margin-top: 60px;
}

img {
    width: 20rem;
    height: 20rem;
    border: solid #F7F4E9 3px;
    border-radius: 0.8rem;
}

img:hover {
      border: solid #1181B2 3px;
      transition: 0.3s ease-out;
}

.recipe_table {
    margin-left:auto; 
    margin-right:auto; 
    width:100px;
}

.recipe_table td {
    padding: 0 20px; 
    text-align: center; 
}

.food {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #4f5d75;
    background-color: #F7F4E9;
    padding: 4px 30px;
    border-radius: 0.8rem;
    position: relative;
    top: -50px;
}

.food:hover {
    background-color: #1181B2;
    color: #F7F4E9;
    transition: 0.3s ease-out;
}